.breath-icon {
  height: 0;

  &--exhale-nose,
  &--exhale-mouth {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;

    background: var(--color-bg-muted);
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;

    fill: none;
    stroke: #e36966;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 11px;

    &-path {
      fill: none;
      stroke: #e36966;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 11px;
    }
  }

  &--inhale-nose,
  &--inhale-mouth {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;

    background: var(--color-bg-muted);
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;

    fill: none;
    stroke: #4ea2e2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 11px;

    &-path {
      fill: none;
      stroke: #4ea2e2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 11px;
    }
  }
}
