.breath {
  & svg {
    width: 100%;
    height: 100%;
    overflow: visible;

    & path,
    & line {
      stroke-width: 10px;
      fill: none;
    }
  }

  &__practice {
    margin: responsive-value(60px, 100px) 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: responsive-value(48px, 96px);
    position: relative;
    @include font-h1;
    height: responsive-value(48px, 72px);

    &-item {
      $letter-spacing: 0.3rem;

      position: absolute;
      opacity: 0;
      // transform: scale(0.5);
      // transform: translateY(5px);
      transition: all var(--transition);
      transition-property: opacity, transform, letter-spacing;
      transition-duration: 0.3s, 0.3s, 5s;
      transition-timing-function: ease;

      &.active {
        opacity: 1;
        transition-duration: 0.5s, 0.3s, 5s;
        // transform: scale(1);
        // transform: translateY(0);
      }

      &--inhale {
        color: $color-inhale;
        letter-spacing: 0;
        transition-delay: 0s, 0s, 0.5s;

        &.active {
          letter-spacing: $letter-spacing;
          transition-delay: 0s, 0s, 0s;
        }
      }
      &--hold1 {
        color: var(--color-text-muted);
        letter-spacing: $letter-spacing;
      }
      &--exhale {
        color: $color-exhale;
        letter-spacing: $letter-spacing;
        transition-delay: 0s, 0s, 0.5s;

        &.active {
          letter-spacing: 0;
          transition-delay: 0s, 0s, 0s;
        }
      }
      &--hold2 {
        color: var(--color-text-muted);
      }
    }
  }
  &__visualizer {
    position: relative;
    // overflow: hidden;
    width: 100vw;
    margin-bottom: $margin-3;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      bottom: -20px;

      z-index: 1;

      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        70%,
        rgba(255, 255, 255, 0)
      );

      @media (prefers-color-scheme: dark) {
        background: linear-gradient(
          to right,
          var(--color-bg),
          70%,
          rgba(50, 50, 56, 0)
        );
      }

      width: 20vw;

      @media (min-width: $breakpoint-medium) {
        width: 30vw;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 1),
          95%,
          rgba(255, 255, 255, 0)
        );

        @media (prefers-color-scheme: dark) {
          background: linear-gradient(
            to right,
            var(--color-bg),
            95%,
            rgba(50, 50, 56, 0)
          );
        }
      }
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__container {
    position: relative;
    display: flex;

    & > * {
      /* position: absolute; */
      height: 200px;
      /* border: 1px solid #ccc; */
    }
  }

  &__ball {
    position: absolute;
    left: calc(50% - #{$ball-size / 2});
    bottom: 0px;
    transform: translateY(#{$ball-size / 2});
    width: $ball-size;
    height: $ball-size;
    border-radius: 50%;
    background-color: $color-green;
    z-index: 2;
  }

  &__timer {
    text-align: center;
    font-weight: $font-weight-bold;
    color: var(--color-text-muted);
  }
  &__counter {
    text-align: center;
    color: var(--color-text-muted);
  }
  &__countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: responsive-value(36px, 64px);
    font-weight: $font-weight-bold;
    color: $color-inhale;
    display: none;

    &.active {
      display: block;
    }
  }
}

.inhale {
  // background-color: rgba(30, 154, 236, 0.05);
  width: var(--inhale-width);

  & svg path {
    stroke: $color-inhale;
    stroke: url('#gradient-inhale');
  }
}
.hold1 {
  // background-color: #fcfcfc;
  width: var(--hold1-width);

  & svg path {
    stroke: var(--color-text-muted);
  }
}
.hold2 {
  // background-color: #fcfcfc;
  width: var(--hold2-width);

  & svg path {
    stroke: var(--color-text-muted);
  }
}
.exhale {
  // background-color: rgba(243, 185, 138, 0.05);
  width: var(--exhale-width);

  & svg path {
    // stroke: $color-exhale;
    stroke: url('#gradient-exhale');
  }
}
