.exercise {
  // @include block-rounded;
  // max-width: $container-width-small;
  margin: 0 auto;
  text-align: center;

  &__name {
    @include font-h3;
    margin-bottom: $margin;
  }

  &__pattern {
    color: $color-gray;
    margin-bottom: $margin;
  }
  &__description {
    margin-bottom: $margin-2;
  }
  &__buttons {
    text-align: center;
  }
}
