.exercise {
  // @include block-rounded;
  // max-width: $container-width-small;
  margin: 0 auto;
  text-align: center;

  &__name {
    @include font-h2;
    margin-bottom: $margin;
  }

&__pattern {
    color: var(--color-text-muted);
    margin-bottom: $margin;
    margin-top: responsive-value(-2px, -4px);
  }
  &__how-long {
    margin-bottom: $margin;
  }
  &__description {
    margin-bottom: $margin-2;
  }
  &__how {
    margin-bottom: $margin;
  }
  &__what {
    margin-bottom: $margin;
  }
  &__tips {
    margin-bottom: $margin-2;

    &-title {
      @include font-h3;
    }
  }
  &__buttons {
    text-align: center;
  }
}
