.header {
  // position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;

  &__right {
    flex: 0 0 auto;
    padding: $block-padding;
    margin-top: responsive-value(-4px, -8px); // visual shift

    & > * {
      margin-right: $margin-2;
    }
  }

  &__left {
    flex: 1 1 auto;
    padding: $block-padding;
    margin-top: responsive-value(-4px, -8px);
  }

  &__lang-switch {
    color: $color-gray;
  }

  &__goback {
    color: $color-gray;
  }
}
