extends ../layout/main

block variables
  - var title = 'Keep Breathing';
  - var description = 'Description';
  - var pageClass = 'breathe';

block content
  .debug
    
  .page
    breath-practice

    