extends ../layout/main

block variables
  - var title = 'Keep Breathing';
  - var description = 'Description';
  - var pageClass = 'index';

block content
  app
    //- router-view
    //- exercises-component

    //- breath-component
