include ../utils/mixins.pug
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block head

  body(class='page--'+pageClass)
    #app
      include ../includes/modules/header
      main.main
        block content
      include ../includes/modules/footer

    block script